apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: tidb-controller-manager
  labels:
    app: {{ template "tidb-operator.name" . }}
    component: controller-manager
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.controllerManager.replicas }}
  selector:
    matchLabels:
      app: {{ template "tidb-operator.name" . }}
      component: controller-manager
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "tidb-operator.name" . }}
        component: controller-manager
        release: {{ .Release.Name }}
    spec:
    {{- if .Values.rbac.create }}
      serviceAccount: tidb-controller-manager
    {{- end }}
      containers:
      - name: tidb-operator
        image: {{ .Values.operatorImage }}
        imagePullPolicy: {{ .Values.imagePullPolicy | default "IfNotPresent" }}
        resources:
{{ toYaml .Values.controllerManager.resources | indent 12 }}
        command:
          - /usr/local/bin/tidb-controller-manager
          - -default-storage-class-name={{ .Values.defaultStorageClassName }}
          - -cluster-scoped={{ .Values.clusterScoped }}
          - -auto-failover={{ .Values.controllerManager.autoFailover | default false }}
          - -tidb-failover-period={{ .Values.controllerManager.tidbFailoverPeriod | default "5m" }}
          - -v={{ .Values.controllerManager.logLevel }}
        env:
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
        {{- if .Values.localtime }}
        volumeMounts:
          - name: timezone
            mountPath: /etc/localtime
        {{- end }}
      {{- if .Values.localtime }}
      volumes:
      - name: timezone
        hostPath:
          path: /etc/localtime
      {{- end -}}
