apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "cluster.name" . }}-discovery
  labels:
    app.kubernetes.io/name: {{ template "chart.name" . }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: discovery
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+"  "_" }}
spec:
  # don't modify this replicas
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ template "chart.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/component: discovery
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ template "chart.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/component: discovery
    spec:
  {{- if .Values.discovery.serviceAccount }}
      serviceAccount: {{ .Values.discovery.serviceAccount }}
  {{- else }}
    {{- if .Values.rbac.create }}
      serviceAccount: {{ template "cluster.name" . }}-discovery
    {{- end }}
  {{- end }}
      containers:
      - name: discovery
        image: {{ .Values.discovery.image }}
        imagePullPolicy: {{ .Values.discovery.imagePullPolicy | default "IfNotPresent" }}
        {{- if .Values.discovery.resources }}
        resources:
{{ toYaml .Values.discovery.resources | indent 12 }}
        {{- end }}
        command:
          - /usr/local/bin/tidb-discovery
        env:
          - name: MY_POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
        {{- if and (ne .Values.timezone "UTC") (ne .Values.timezone "") }}
          - name: TZ
            value: {{ .Values.timezone | default "UTC" }}
        {{- end }}
