{{- if .Values.binlog.drainer.create }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ template "cluster.name" . }}-drainer
  labels:
    app.kubernetes.io/name: {{ template "chart.name" . }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: drainer
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+"  "_" }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ template "chart.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/managed-by: tidb-operator
      app.kubernetes.io/component: drainer
  serviceName: {{ template "cluster.name" . }}-drainer
  replicas: 1
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8249"
      labels:
        app.kubernetes.io/name: {{ template "chart.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/managed-by: tidb-operator
        app.kubernetes.io/component: drainer
    spec:
    {{- if .Values.binlog.drainer.affinity }}
      affinity:
{{ toYaml .Values.binlog.drainer.affinity | indent 8 }}
    {{- end }}
    {{- if .Values.binlog.drainer.tolerations }}
      tolerations:
{{ toYaml .Values.binlog.drainer.tolerations | indent 8 }}
    {{- end }}
      containers:
      - name: drainer
        image: {{ .Values.binlog.drainer.image }}
        imagePullPolicy: {{ .Values.binlog.drainer.imagePullPolicy | default "IfNotPresent" }}
        command:
        - /bin/sh
        - -c
        - |-
{{ tuple "scripts/_start_drainer.sh.tpl" . | include "helm-toolkit.utils.template" | indent 10 }}
        ports:
        - containerPort: 8249
          name: drainer
        volumeMounts:
        - name: data
          mountPath: /data
        - name: config
          mountPath: /etc/drainer
      {{- if and (ne .Values.timezone "UTC") (ne .Values.timezone "") }}
        env:
        - name: TZ
          value: {{ .Values.timezone | default "UTC" }}
      {{- end }}
        resources:
{{ toYaml .Values.binlog.drainer.resources | indent 10 }}
      volumes:
      - name: config
        configMap:
        {{- if .Values.enableConfigMapRollout }}
          name: {{ template "cluster.name" . }}-drainer-{{ template "drainer-configmap.data-digest" . }}
        {{- else }}
          name: {{ template "cluster.name" . }}-drainer
        {{- end }}
          items:
          - key: drainer-config
            path: drainer.toml
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ .Values.binlog.drainer.storageClassName }}
      resources:
        requests:
          storage: {{ .Values.binlog.drainer.storage }}
{{- end }}
