{{- if .Values.binlog.drainer.create }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.clusterName }}-drainer
  labels:
    app.kubernetes.io/name: {{ template "tidb-cluster.name" . }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Values.clusterName }}
    app.kubernetes.io/component: drainer
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+"  "_" }}
data:
  drainer-config: |-
{{ tuple "config/_drainer-config.tpl" . | include "tidb-cluster.utils.template" | indent 4 }}
{{- end -}}
