{{- if .Values.privilegedTidb }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.clusterName }}-privileged-tidb
  labels:
    app.kubernetes.io/name: {{ template "chart.name" . }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Values.clusterName }}
    app.kubernetes.io/component: privileged-tidb
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+"  "_" }}
data:
  startup-script: |-
{{ tuple "scripts/_start_privileged_tidb.sh.tpl" . | include "tidb-cluster.utils.template" | indent 4 }}

  config-file: |-
{{ tuple "config/_privileged-tidb-config.tpl" . | include "tidb-cluster.utils.template" | indent 4 }}
{{- end }}
