{{- if .Values.binlog.pump.create }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ template "cluster.name" . }}-pump
  labels:
    app.kubernetes.io/name: {{ template "chart.name" . }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: pump
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+"  "_" }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ template "chart.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/managed-by: tidb-operator
      app.kubernetes.io/component: pump
  serviceName: {{ template "cluster.name" . }}-pump
  replicas: {{ .Values.binlog.pump.replicas }}
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8250"
      labels:
        app.kubernetes.io/name: {{ template "chart.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/managed-by: tidb-operator
        app.kubernetes.io/component: pump
    spec:
    {{- if .Values.binlog.pump.affinity }}
      affinity:
{{ toYaml .Values.binlog.pump.affinity | indent 8 }}
    {{- end }}
    {{- if .Values.binlog.pump.tolerations }}
      tolerations:
{{ toYaml .Values.binlog.pump.tolerations | indent 8 }}
    {{- end }}
      containers:
      - name: pump
        image: {{ .Values.binlog.pump.image }}
        imagePullPolicy: {{ .Values.binlog.pump.imagePullPolicy | default "IfNotPresent"}}
        command:
        - /bin/sh
        - -c
        - |-
{{ tuple "scripts/_start_pump.sh.tpl" . | include "helm-toolkit.utils.template" | indent 10 }}
        ports:
        - containerPort: 8250
          name: pump
        volumeMounts:
        - name: data
          mountPath: /data
        - name: config
          mountPath: /etc/pump
      {{- if and (ne .Values.timezone "UTC") (ne .Values.timezone "") }}
        env:
        - name: TZ
          value: {{ .Values.timezone | default "UTC" }}
      {{- end }}
        resources:
{{ toYaml .Values.binlog.pump.resources | indent 10 }}
      volumes:
      - name: config
        configMap:
        {{- if .Values.enableConfigMapRollout }}
          name: {{ template "cluster.name" . }}-pump-{{ template "pump-configmap.data-digest" . }}
        {{- else }}
          name: {{ template "cluster.name" . }}-pump
        {{- end }}
          items:
          - key: pump-config
            path: pump.toml
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: {{ .Values.binlog.pump.storageClassName }}
      resources:
        requests:
          storage: {{ .Values.binlog.pump.storage }}
{{- end }}
