bin/
images/tidb-operator/bin/
images/tidb-operator-e2e/bin/
images/tidb-operator-e2e/tidb-cluster/
images/tidb-operator-e2e/tidb-operator/
*.tar
tmp/
data/
.idea

# ginkgo test coverage
*.coverprofile

# retool. We could check this in like a vendor
# But it is just tools that can be installed with make setup
/_tools/
