# Default values for tidb-operator

# timezone is the default system timezone
timezone: UTC

appendReleaseSuffix: false

operator:
  # Replica count for the operator deployment
  replicas: 1
  serviceAccount: tidb-operator
  image:
    # registry: docker.io
    repository: pingcap/tidb-operator
    # tag: vX.Y.Z
    # digest: sha256:0000000000000000000000000000000000000000000000000000000000000000

  pullPolicy: IfNotPresent
  # # REF: https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/
  # priorityClassName: system-cluster-critical
  resources:
    requests:
      cpu: 80m
      memory: 50Mi
  ## affinity defines pod scheduling rules,affinity default settings is empty.
  ## please read the affinity document before set your scheduling rule:
  ## ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
  affinity: {}
  ## nodeSelector ensure pods only assigning to nodes which have each of the indicated key-value pairs as labels
  ## ref:https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#nodeselector
  nodeSelector: {}
  ## Tolerations are applied to pods, and allow pods to schedule onto nodes with matching taints.
  ## refer to https://kubernetes.io/docs/concepts/configuration/taint-and-toleration
  tolerations: []
  # - key: node-role
  #   operator: Equal
  #   value: tidb-operator
  #   effect: "NoSchedule"

  ## Env define environments for the controller manager.
  ## NOTE that the following env names is reserved:
  ##  - NAMESPACE
  ##  - TZ
  ##  - HELM_RELEASE
  env: []
  # - name: AWS_REGION
  #   value: us-west-2

  # SecurityContext is security config of this component, it will set template.spec.securityContext
  # Refer to https://kubernetes.io/docs/tasks/configure-pod-container/security-context
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 2000
  # fsGroup: 2000

  # PodAnnotations will set template.metadata.annotations
  # Refer to https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
  podAnnotations: {}
  extraArgs: []

# Backup manager image configuration
backupManager:
  image:
    # registry: docker.io
    repository: pingcap/tidb-backup-manager
    # tag: vX.Y.Z
    # digest: sha256:0000000000000000000000000000000000000000000000000000000000000000

# Prestop checker image configuration
prestopChecker:
  image:
    # registry: docker.io
    repository: pingcap/tidb-operator-prestop-checker
    # tag: vX.Y.Z
    # digest: sha256:0000000000000000000000000000000000000000000000000000000000000000

# Resource syncer image configuration
resourceSyncer:
  image:
    # registry: docker.io
    repository: pingcap/tidb-operator-resource-syncer
    # tag: vX.Y.Z
    # digest: sha256:0000000000000000000000000000000000000000000000000000000000000000

# RBAC configuration
rbac:
  create: true

# Webhook configuration
webhook:
  create: true

# If false, manage crds by operator directly.
# If true, operator will not check and apply crds.
skipCRDsManagement: false

# DON'T EDIT IT
crds:
- backups.br.pingcap.com
- backupschedules.br.pingcap.com
- compactbackups.br.pingcap.com
- restores.br.pingcap.com
- tibrgcs.br.pingcap.com
- tibrs.br.pingcap.com
- clusters.core.pingcap.com
- pdgroups.core.pingcap.com
- pds.core.pingcap.com
- resourcemanagergroups.core.pingcap.com
- resourcemanagers.core.pingcap.com
- schedulergroups.core.pingcap.com
- schedulers.core.pingcap.com
- schedulinggroups.core.pingcap.com
- schedulings.core.pingcap.com
- ticdcgroups.core.pingcap.com
- ticdcs.core.pingcap.com
- tidbgroups.core.pingcap.com
- tidbs.core.pingcap.com
- tiflashes.core.pingcap.com
- tiflashgroups.core.pingcap.com
- tikvgroups.core.pingcap.com
- tikvs.core.pingcap.com
- tikvworkergroups.core.pingcap.com
- tikvworkers.core.pingcap.com
- tiproxies.core.pingcap.com
- tiproxygroups.core.pingcap.com
- tsogroups.core.pingcap.com
- tsos.core.pingcap.com
