apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  # name must match the spec fields below, and be in the form: <plural>.<group>
  name: tidbclusters.pingcap.com
spec:
  # group name to use for REST API: /apis/<group>/<version>
  group: pingcap.com
  # list of versions supported by this CustomResourceDefinition
  version: v1alpha1
  # either Namespaced or Cluster
  scope: Namespaced
  names:
    # plural name to be used in the URL: /apis/<group>/<version>/<plural>
    plural: tidbclusters
    # singular name to be used as an alias on the CLI and for display
    singular: tidbcluster
    # kind is normally the CamelCased singular type. Your resource manifests use this.
    kind: TidbCluster
    # shortNames allow shorter string to match your resource on the CLI
    shortNames:
    - tc
  additionalPrinterColumns:
  - name: PD
    type: string
    description: The image for PD cluster
    JSONPath: .spec.pd.image
  - name: Storage
    type: string
    description: The storage size specified for PD node
    JSONPath: .spec.pd.requests.storage
  - name: Ready
    type: integer
    description: The ready replicas number of PD cluster
    JSONPath: .status.pd.statefulSet.readyReplicas
  - name: Desire
    type: integer
    description: The desired replicas number of PD cluster
    JSONPath: .spec.pd.replicas
  - name: TiKV
    type: string
    description: The image for TiKV cluster
    JSONPath: .spec.tikv.image
  - name: Storage
    type: string
    description: The storage size specified for TiKV node
    JSONPath: .spec.tikv.requests.storage
  - name: Ready
    type: integer
    description: The ready replicas number of TiKV cluster
    JSONPath: .status.tikv.statefulSet.readyReplicas
  - name: Desire
    type: integer
    description: The desired replicas number of TiKV cluster
    JSONPath: .spec.tikv.replicas
  - name: TiDB
    type: string
    description: The image for TiDB cluster
    JSONPath: .spec.tidb.image
  - name: Ready
    type: integer
    description: The ready replicas number of TiDB cluster
    JSONPath: .status.tidb.statefulSet.readyReplicas
  - name: Desire
    type: integer
    description: The desired replicas number of TiDB cluster
    JSONPath: .spec.tidb.replicas
  validation:
   # openAPIV3Schema is the schema for validating custom objects.
    openAPIV3Schema:
      properties:
        spec:
          properties:
            pd:
              properties:
                limits:
                  properties:
                    cpu:
                      type: string
                requests:
                  properties:
                    cpu:
                      type: string
            tikv:
              properties:
                limits:
                  properties:
                    cpu:
                      type: string
                requests:
                  properties:
                    cpu:
                      type: string
            tidb:
              properties:
                limits:
                  properties:
                    cpu:
                      type: string
                requests:
                  properties:
                    cpu:
                      type: string

---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  # name must match the spec fields below, and be in the form: <plural>.<group>
  name: backups.pingcap.com
spec:
  # group name to use for REST API: /apis/<group>/<version>
  group: pingcap.com
  # list of versions supported by this CustomResourceDefinition
  version: v1alpha1
  # either Namespaced or Cluster
  scope: Namespaced
  names:
    # plural name to be used in the URL: /apis/<group>/<version>/<plural>
    plural: backups
    # singular name to be used as an alias on the CLI and for display
    singular: backup
    # kind is normally the CamelCased singular type. Your resource manifests use this.
    kind: Backup
    # shortNames allow shorter string to match your resource on the CLI
    shortNames:
    - bk
  additionalPrinterColumns:
  - name: BackupType
    type: string
    description: The backup type for tidb cluster
    JSONPath: .spec.Type
  - name: StorageType
    type: string
    description: The storage type of backup data
    JSONPath: .spec.StorageType
  - name: BackupSize
    type: integer
    description: The data size of the backup
    JSONPath: .status.BackupSize
  - name: Started
    type: date
    description: The time at which the backup was started
    priority: 1
    JSONPath: .status.TimeStarted
  - name: Completed
    type: date
    description: The time at which the backup was completed
    priority: 1
    JSONPath: .status.TimeCompleted

---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  # name must match the spec fields below, and be in the form: <plural>.<group>
  name: restores.pingcap.com
spec:
  # group name to use for REST API: /apis/<group>/<version>
  group: pingcap.com
  # list of versions supported by this CustomResourceDefinition
  version: v1alpha1
  # either Namespaced or Cluster
  scope: Namespaced
  names:
    # plural name to be used in the URL: /apis/<group>/<version>/<plural>
    plural: restores
    # singular name to be used as an alias on the CLI and for display
    singular: restore
    # kind is normally the CamelCased singular type. Your resource manifests use this.
    kind: Restore
    # shortNames allow shorter string to match your resource on the CLI
    shortNames:
    - rt
  additionalPrinterColumns:
  - name: Backup
    type: string
    description: The backup that used to restore
    JSONPath: .spec.Backup
  - name: Started
    type: date
    description: The time at which the backup was started
    priority: 1
    JSONPath: .status.TimeStarted
  - name: Completed
    type: date
    description: The time at which the restore was completed
    priority: 1
    JSONPath: .status.TimeCompleted

---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  # name must match the spec fields below, and be in the form: <plural>.<group>
  name: backupschedules.pingcap.com
spec:
  # group name to use for REST API: /apis/<group>/<version>
  group: pingcap.com
  # list of versions supported by this CustomResourceDefinition
  version: v1alpha1
  # either Namespaced or Cluster
  scope: Namespaced
  names:
    # plural name to be used in the URL: /apis/<group>/<version>/<plural>
    plural: backupschedules
    # singular name to be used as an alias on the CLI and for display
    singular: backupschedule
    # kind is normally the CamelCased singular type. Your resource manifests use this.
    kind: BackupSchedule
    # shortNames allow shorter string to match your resource on the CLI
    shortNames:
    - bks
  additionalPrinterColumns:
  - name: Schedule
    type: string
    description: The cron format string used for backup scheduling.
    JSONPath: .spec.Schedule
  - name: MaxBackups
    type: integer
    description: The max number of backups we want to keep.
    JSONPath: .spec.MaxBackups
  - name: LastBackup
    type: string
    description: The last backup CR name
    priority: 1
    JSONPath: .status.LastBackup
  - name: LastBackupTime
    type: date
    description: The last time the backup was successfully created
    priority: 1
    JSONPath: .status.LastBackupTime
