---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: tidb-operator-e2e
subjects:
- kind: ServiceAccount
  namespace: tidb-operator-e2e
  name: tidb-operator-e2e
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io
---
kind: ServiceAccount
apiVersion: v1
metadata:
  namespace: tidb-operator-e2e
  name: tidb-operator-e2e
---
apiVersion: v1
kind: Pod
metadata:
  namespace: tidb-operator-e2e
  name: tidb-operator-e2e
spec:
  serviceAccount: tidb-operator-e2e
  containers:
  - name: tidb-operator-e2e
    image: 127.0.0.1:5000/pingcap/tidb-operator-e2e:latest
    imagePullPolicy: Always
    env:
    - name: GINKGO_NODES
      value: "4"
    command: ["sh", "-c", "ginkgo --nodes=${GINKGO_NODES} --v --stream --trace --failFast /usr/local/bin/e2e.test"]
  restartPolicy: Never
