apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.clusterName }}-importer-{{ template "importer-configmap.data-digest" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ template "chart.name" . }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Values.clusterName }}
    app.kubernetes.io/component: importer
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+"  "_" }}
data:
{{ include "importer-configmap.data" . | indent 2 }}
