# Default values for tidb-lightning.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image: pingcap/tidb-lightning:v3.0.1
imagePullPolicy: IfNotPresent
service:
  type: NodePort

dataSource:
  local:
    # nodeName: kind-worker3
    hostPath: /data/export-20190820
  remote:
    rcloneImage: tynor88/rclone
    storageClassName: local-storage
    storage: 100Gi
    secretName: cloud-storage-secret
    path: s3:bench-data-us/sysbench/sbtest_16_1e7.tar.gz

targetTidbCluster:
  name: tidb-cluster
  namespace: tidb

resources: {}
  # limits:
  #  cpu: 16000m
  #  memory: 8Gi
  # requests:
  #  cpu: 16000m
  #  memory: 8Gi

nodeSelector: {}

tolerations: []
affinity: {}

config: |
  [lightning]
  level = "info"
