apiVersion: v1
kind: Service
metadata:
  name: {{ include "drainer.name" . }}
  labels:
    app.kubernetes.io/name: {{ include "drainer.name" . }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Values.clusterName }}
    app.kubernetes.io/component: drainer
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+"  "_" }}
spec:
  clusterIP: None
  ports:
  - name: drainer
    port: 8249
  selector:
    app.kubernetes.io/name: {{ include "drainer.name" . }}
    app.kubernetes.io/instance: {{ .Values.clusterName }}
    app.kubernetes.io/component: drainer
