---
apiVersion: pingcap.com/v1alpha1
kind: Backup
metadata:
  name: demo1-backup-s3
  namespace: test1
spec:
  #backupType: full
  br:
    pd: 10.233.40.168:2379
    # ca: <ca>
    # cert: <cert>
    # key: <key>
    # logLevel: info
    # statusAddr: <status-addr>
    # concurrency: 4
    # rateLimit: 0
    # timeAgo: <time>
    # checksum: true
    # sendCredToTikv: true
  s3:
    provider: ceph
    endpoint: http://10.233.57.220
    secretName: ceph-secret
    bucket: backup
    prefix: test1-demo1