name: ci-v2

on:
  push:
    branches:
    - main
    - release-2.0
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    branches:
    - main
    - release-2.0


concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  image:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: cache image builder
      uses: actions/cache@v4
      with:
        path: ./_output/cache
        key: ${{ runner.os }}-image-cache

    - uses: docker/setup-qemu-action@v3
      with:
        image: gcr.io/pingcap-public/third-party/tonistiigi/binfmt:latest

    - name: setup buildx context
      run: |
        docker context create builder

    - uses: docker/setup-buildx-action@v3
      with:
        platforms: linux/arm64,linux/amd64
        endpoint: builder
        driver-opts: |
          image=gcr.io/pingcap-public/third-party/moby/buildkit:buildx-stable-1

    - name: image
      run: |
        V_PLATFORMS=linux/arm64,linux/amd64 make image

  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: setup go
      uses: actions/setup-go@v6
      with:
        go-version-file: ./go.mod
        cache-dependency-path: "**/*.sum"
    - name: build
      run: |
        make build

  lint:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: setup go
      id: setup-go
      uses: actions/setup-go@v6
      with:
        go-version-file: ./go.mod
        cache-dependency-path: "**/*.sum"
    - name: cache golangci-lint
      uses: actions/cache@v4
      with:
        path: ./_output/bin/golangci-lint
        key: ${{ runner.os }}-golangci-lint-${{ steps.setup-go.outputs.go-version }}
    - name: lint
      run: |
        make lint

  unit:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: setup go
      uses: actions/setup-go@v6
      with:
        go-version-file: ./go.mod
        cache-dependency-path: "**/*.sum"
    - name: unit test
      run: |
        make unit

    - name: Upload test coverage
      uses: codecov/codecov-action@v5
      with:
        flags: unittest
        token: ${{ secrets.CODECOV_TOKEN }}
        verbose: true
        files: ./coverage.txt

  verify:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: setup go
      uses: actions/setup-go@v6
      with:
        go-version-file: ./go.mod
        cache-dependency-path: "**/*.sum"
    - name: verify
      run: |
        make verify
