name: ci

on: [pull_request]

jobs:

  pull:
    runs-on: ubuntu-latest
    steps:
    - name: Check out 
      uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '12'
    - name: Markdown lint
      uses: avto-dev/markdown-lint@v1
      with:
        config: './.markdownlint.yaml'
        args: '.'
    - name: Verify links
      run: ./hack/verify-links.sh
    - name: Verify link anchors
      run: ./hack/verify-link-anchors.sh 
    - name: "Check unclosed tags"
      run: 
        git remote add upstream https://github.com/pingcap/docs-tidb-operator.git;
        git fetch upstream;
        echo "checked files are $(git diff-tree --name-only --no-commit-id -r upstream/master...HEAD -- 'zh/' 'en/' '.md' ':(exclude).github/*')";
        python3 ./hack/check-tags.py $(git diff-tree --name-only --no-commit-id -r upstream/master...HEAD -- 'zh/' 'en/' '.md' ':(exclude).github/*')
